* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3eeeb;
}

.navBar {
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navBar img {
  height: 2.5vw;
  padding: 0.75vw 0.5vw 0.75vw 0.5vw;
}

.navBar a:not(:first-child) {
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  padding: 0 0.5vw 0 0.5vw;
  margin: 0 1vw 0 1vw;
  text-decoration: none;
  border-bottom: solid black;
}

.navBar a:hover {
  border-bottom-color: red;
}

#activeLink {
  border-bottom-color: red;
}

.header {
  margin: 0;
}

.headerVideo iframe {
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 56.25vw;
}

.downArrow {
  display: inline-block;
  position: absolute;
  border: solid white;
  border-width: 0 2vw 2vw 0;
  border-radius: 1.5vw;
  padding: 2vw;
  transform: rotate(45deg);
}

.headerScrollDownInd i:nth-child(1) {
  top: 45vw;
  left: 50%;
}

.headerScrollDownInd i:nth-child(2) {
  top: 49vw;
  left: 50%;
}

/* Home page */

.homeMainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 ."
    ". content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 ."
    ". content3 content3 content3 content3 content3 content3 content3 content3 content3 content3 ."
    ". content4 content4 content4 content4 content4 content4 content4 content4 content4 content4 ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-row-gap: 5vw;
  margin-top: 5vw;
}

.homeMainContent h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 6vw;
}

.homeMainContent p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.4em;
}

.homeMainContent a {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.75vw;
}

.homeMainContent h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  padding-bottom: 1vw;
}

.contentIntro {
  grid-area: content1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "introHeader introHeader introHeader introHeader introHeader introHeader introHeader introHeader"
    ". introText introText introText . introVisual introVisual introVisual";
  grid-row-gap: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.contentIntro h1 {
  grid-area: introHeader;
}

.introText {
  grid-area: introText;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introVideo {
  grid-area: introVisual;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introVideo iframe {
  width: 30vw;
  height: calc(30vw * 0.5625);
  pointer-events: none;
}

.contentAgents {
  grid-area: content2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader"
    "agentsVisual1 agentsVisual1 agentsVisual1 agentsVisual1 agentsVisual1 . agentsText1 agentsText1 agentsText1 agentsText1"
    ". agentsText2 agentsText2 agentsText2 . agentsVisual2 agentsVisual2 agentsVisual2 agentsVisual2 agentsVisual2";
  grid-row-gap: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.contentAgents h1 {
  grid-area: agentsHeader;
}

.agentsVis1 {
  grid-area: agentsVisual1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.agentsVis1 img:nth-of-type(1) {
  height: 35vw;
}

.agentsVis1 img:nth-of-type(2) {
  height: 30vw;
}

.agentsTopText {
  grid-area: agentsText1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agentsBottomText {
  grid-area: agentsText2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agentsBottomText p:nth-of-type(2) {
  padding-top: 2vw;
}

.agentsBottomText a {
  align-self: center;
  text-decoration: none;
  background-color: #ff4655;
  color: #f3eeeb;
  margin-top: 3vw;
  padding: 1vw;
}

.agentsBottomText a:hover {
  background-color: black;
}

.agentsVis2 {
  grid-area: agentsVisual2;
  display: flex;
  justify-content: flex-start;
}

.agentsVis2 img {
  height: 35vw;
}

.contentMaps {
  grid-area: content3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader mapsHeader"
    ". mapsVisual mapsVisual mapsVisual mapsVisual mapsVisual mapsVisual . mapsText mapsText mapsText mapsText";
  grid-row-gap: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.contentMaps h1 {
  grid-area: mapsHeader;
}

.mapsDesc {
  grid-area: mapsText;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapsDesc a {
  align-self: center;
  text-decoration: none;
  background-color: #ff4655;
  color: #f3eeeb;
  margin-top: 3vw;
  padding: 1vw;
}

.mapsDesc a:hover {
  background-color: black;
}

.contentMaps img {
  grid-area: mapsVisual;
  width: 100%;
}

.contentSkins {
  grid-area: content4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader skinsHeader"
    ". skinsText skinsText skinsText skinsText . skinsVisual skinsVisual skinsVisual skinsVisual skinsVisual skinsVisual";
  grid-row-gap: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.contentSkins h1 {
  grid-area: skinsHeader;
}

.skinsDesc {
  grid-area: skinsText;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skinsDesc a {
  align-self: center;
  text-decoration: none;
  background-color: #ff4655;
  color: #f3eeeb;
  margin-top: 3vw;
  padding: 1vw;
}

.skinsDesc a:hover {
  background-color: black;
}

.contentSkins img {
  grid-area: skinsVisual;
  width: 100%;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.footer img {
  height: 2.5vw;
  padding: 0.75vw 0.5vw 0.75vw 0.5vw;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.agentsHero {
  background-image: url("agentsHero.png");
  background-size: cover;
  min-height: 55vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -8vw;
}

.agentsHero h1, .mapsHero h1, .skinsHero h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 10vw;
  color: #f3eeeb;
  padding-bottom: 1vw;
}

.mapsHero {
  background-image: url("mapsHero.png");
  background-size: cover;
  min-height: 55vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -8vw;
}

.skinsHero {
  background-image: url("skinsHero.jpg");
  background-size: cover;
  min-height: 55vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -8vw;
}

/* Agents Page */

.agentsMainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". agent1Pic agent1Pic agent1Pic agent1Pic . agent1Desc agent1Desc agent1Desc agent1Desc agent1Desc ."
    ". agent1Show agent1Show agent1Show agent1Show agent1Show agent1Show agent1Show agent1Show agent1Show agent1Show ."
    "break1 break1 break1 break1 break1 break1 break1 . . . . ."
    ". agent2Pic agent2Pic agent2Pic agent2Pic . agent2Desc agent2Desc agent2Desc agent2Desc agent2Desc ."
    ". agent2Show agent2Show agent2Show agent2Show agent2Show agent2Show agent2Show agent2Show agent2Show agent2Show ."
    ". . . . . break2 break2 break2 break2 break2 break2 break2"
    ". agent3Pic agent3Pic agent3Pic agent3Pic . agent3Desc agent3Desc agent3Desc agent3Desc agent3Desc ."
    ". agent3Show agent3Show agent3Show agent3Show agent3Show agent3Show agent3Show agent3Show agent3Show agent3Show ."
    "break3 break3 break3 break3 break3 break3 break3 . . . . ."
    ". agent4Pic agent4Pic agent4Pic agent4Pic . agent4Desc agent4Desc agent4Desc agent4Desc agent4Desc ."
    ". agent4Show agent4Show agent4Show agent4Show agent4Show agent4Show agent4Show agent4Show agent4Show agent4Show ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-row-gap: 5vw;
  margin-top: 5vw;
}

.agentsMainContent img {
  width: 100%;
}

.agentsMainContent h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vw;
  font-weight: 600;
}

.agentsMainContent h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  font-weight: 600;
}

.agentsMainContent h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
}

.agentsMainContent p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.4em;
}

.agentsMainContent hr:nth-of-type(1),  .agentsMainContent hr:nth-of-type(3){
  position: relative;
  left: 3vw;
  margin-bottom: 1vw;
  border-top: 2px solid #152532;
}

.agentsMainContent hr:nth-of-type(2){
  position: relative;
  left: -3vw;
  margin-bottom: 1vw;
  border-top: 2px solid #152532;
}

.agentsMainContent hr:nth-of-type(1) {
  grid-area: break1;
}

.agentsMainContent hr:nth-of-type(2) {
  grid-area: break2;
}

.agentsMainContent hr:nth-of-type(3) {
  grid-area: break3;
}

.agentsMainContent img:nth-of-type(1) {
  grid-area: agent1Pic;
}

.agentBrimDesc, .agentPhoenixDesc, .agentSageDesc, .agentSovaDesc {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "header header header header header header header header"
    ". intro intro intro intro intro intro intro"
    ". desc desc desc desc desc desc desc";
}

.agentBrimDesc {
  grid-area: agent1Desc;
  background-image: url("agentBrimBackground.png");
  background-size: 100% 35%;
  background-repeat: no-repeat;
}

.brimHeader, .phoenixHeader, .sageHeader, .sovaHeader {
  grid-area: header;
  margin-left: 2vw;
  margin-top: 0.25vw;
}

.agentBrimDesc p:nth-of-type(1), .agentPhoenixDesc p:nth-of-type(1), .agentSageDesc p:nth-of-type(1), .agentSovaDesc p:nth-of-type(1) {
  grid-area: intro;
}

.agentBrimDesc p:nth-of-type(2), .agentPhoenixDesc p:nth-of-type(2), .agentSageDesc p:nth-of-type(2), .agentSovaDesc p:nth-of-type(2) {
  grid-area: desc;
}

.agentsMainContent img:nth-of-type(2) {
  grid-area: agent2Pic;
}

.agentPhoenixDesc {
  grid-area: agent2Desc;
  background-image: url("agentPhoenixBackground.png");
  background-size: 100% 35%;
  background-repeat: no-repeat;
}

.agentsMainContent img:nth-of-type(3) {
  grid-area: agent3Pic;
}

.agentSageDesc {
  grid-area: agent3Desc;
  background-image: url("agentSageBackground.png");
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

.agentsMainContent img:nth-of-type(4) {
  grid-area: agent4Pic;
}

.agentSovaDesc {
  grid-area: agent4Desc;
  background-image: url("agentSovaBackground.png");
  background-size: 100% 32%;
  background-repeat: no-repeat;
}

.agentBrimShowcase, .agentPhoenixShowcase, .agentSageShowcase, .agentSovaShowcase {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "abilities abilities abilities abilities video video video video video video";
}

.agentBrimShowcase {
  grid-area: agent1Show;
}

.agentPhoenixShowcase {
  grid-area: agent2Show;
}

.agentSageShowcase {
  grid-area: agent3Show;
}

.agentSovaShowcase {
  grid-area: agent4Show;
}

.brimAbilities, .phoenixAbilities, .sageAbilities, .sovaAbilities {
  grid-area: abilities;
}

.brimAbilities h3, .phoenixAbilities h3, .sageAbilities h3, .sovaAbilities h3 {
  display: inline;
}

.brimAbilities img, .phoenixAbilities img, .sageAbilities img, .sovaAbilities img {
  width: 1.3vw;
  background-color: red;
  padding: 1px;
}

.brimAbilities p, .phoenixAbilities p, .sageAbilities p, .sovaAbilities p {
  padding-bottom: 2vw;
}

.brimVideo, .phoenixVideo, .sageVideo, .sovaVideo {
  grid-area: video;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brimVideo iframe, .phoenixVideo iframe, .sageVideo iframe, .sovaVideo iframe {
  width: 45vw;
  height: calc(45vw * 0.5625);
  pointer-events: none;
}

/* Maps page */

.mapsMainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". map1 map1 map1 map1 map1 map1 map1 map1 map1 map1 ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-row-gap: 5vw;
  margin-top: 5vw;
}

.mapsMainContent h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 6vw;
  margin-bottom: 1vw;
}

.mapsMainContent p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  color: white;
  position: absolute;
}

#modalCaption {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.4em;
}

.mapsMainContent p:hover {
  cursor: pointer;
}

.mapBind {
  grid-area: map1;
  position: relative;
}

.mapBind img {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2vw;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
  margin: auto;
  display: block;
  width: 70vw;
}

#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
  padding: 1vw 0;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#bindASite {
  top: 47%;
  left: 69%;
}

#bindAHeaven {
  top: 37%;
  left: 72%;
}

#bindABath {
  top: 59%;
  left: 78%;
}

#bindAShort {
  top: 63%;
  left: 60%;
}

#bindBSite {
  top: 42%;
  left: 27%;
}

#bindBHooka {
  top: 55%;
  left: 28%;
}

#bindBShort {
  top: 65%;
  left: 37%;
}

#bindBLong {
  top: 65%;
  left: 15%;
}

#bindBLobby {
  top: 78%;
  left: 20%;
}

#bindBGarden {
  top: 57%;
  left: 19%;
}

#bindBElbow {
  top: 46%;
  left: 13%;
}

/* Skins page */

.skinsMainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". skin1 skin1 skin1 skin1 skin1 skin1 skin1 skin1 skin1 skin1 ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-row-gap: 5vw;
  margin-top: 5vw;
}

.skinsMainContent h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 6vw;
  margin-bottom: 1vw;
}

.skinsPrime2 {
  grid-area: skin1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "header header header header header header header header header header"
    "video video video video video video video video video video";
}

.skinsPrime2 h1 {
  grid-area: header;
}

.prime2Video {
  grid-area: video;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime2Video iframe {
  width: 80vw;
  height: calc(80vw * 0.5625);
  pointer-events: none;
}

.footer {
  grid-area: footer;
}
