* {
  margin: 0;
  padding: 0;
}

.navBar {
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navBar img {
  height: 2.5vw;
  padding: 0.75vw 0.5vw 0.75vw 0.5vw;
}

.navBar a:not(:first-child) {
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.5vw;
  padding: 0 0.5vw 0 0.5vw;
  margin: 0 1vw 0 1vw;
  text-decoration: none;
  border-bottom: solid black;
}

.navBar a:hover {
  border-bottom-color: red;
}

.header {
  margin: 0;
}

.headerVideo iframe {
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 56.25vw;
}

.downArrow {
  display: inline-block;
  position: absolute;
  border: solid white;
  border-width: 0 2vw 2vw 0;
  border-radius: 1.5vw;
  padding: 2vw;
  transform: rotate(45deg);
}

.headerScrollDownInd i:nth-child(1) {
  top: 45vw;
  left: 50%;
}

.headerScrollDownInd i:nth-child(2) {
  top: 49vw;
  left: 50%;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 ."
    ". content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 ."
    ". content3 content3 content3 content3 content3 content3 content3 content3 content3 content3 ."
    ". content4 content4 content4 content4 content4 content4 content4 content4 content4 content4 ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-row-gap: 5vw;
  margin-top: 5vw;
}

.mainContent h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 6vw;
}

.mainContent p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
}

.mainContent a {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.75vw;
}

.mainContent h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
}

.contentIntro {
  grid-area: content1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "introHeader introHeader introHeader introHeader introHeader introHeader introHeader introHeader"
    ". introText introText introText . introVisual introVisual introVisual";
  grid-row-gap: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.contentIntro h1 {
  grid-area: introHeader;
}

.contentIntro p {
  grid-area: introText;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentIntro iframe {
  grid-area: introVisual;
  width: 30vw;
  height: calc(30vw * 0.5625);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentAgents {
  grid-area: content2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader agentsHeader"
    "agentsVisual1 agentsVisual1 agentsVisual1 agentsVisual1 agentsVisual1 . agentsText1 agentsText1 agentsText1 agentsText1"
    ". agentsText2 agentsText2 agentsText2 . agentsVisual2 agentsVisual2 agentsVisual2 agentsVisual2 agentsVisual2";
  grid-row-gap: 5vw;
}

.contentAgents h1 {
  grid-area: agentsHeader;
}

.agentsVis1 {
  grid-area: agentsVisual1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.agentsVis1 img:nth-of-type(1) {
  height: 35vw;
}

.agentsVis1 img:nth-of-type(2) {
  height: 30vw;
}

.agentsTopText {
  grid-area: agentsText1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agentsBottomText {
  grid-area: agentsText2;
  display: grid;
  grid-template-areas:
    "."
    "."
    "agentsBTTop"
    "agentsBTLink"
    "."
    ".";
}

.agentsBottomText p:nth-of-type(1) {
  grid-area: agentsBTTop;
}

.agentsBottomText a {
  grid-area: agentsBTLink;
  text-decoration: none;
  background-color: #ff4655;
  color: #f3eeeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agentsBottomText a:hover {
  background-color: black;
}

.agentsVis2 {
  grid-area: agentsVisual2;
  display: flex;
  justify-content: flex-start;
}

.agentsVis2 img {
  height: 35vw;
}

.contentMaps {
  grid-area: content3;
}

.contentSkins {
  grid-area: content4;
}
